.search-footer {
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.el-tabs__nav-wrap::after {
  content: '';
  height: 1px;
}

.el-tabs__nav-wrap::after {
  content: '';
  height: 1px;
}
