@charset "UTF-8";
html,
body {
  font-family: "Microsoft YaHei", "微软雅黑", "黑体", "宋体";
  color: #ffffff;
}

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a,
u {
  text-decoration: none;
}

img {
  display: block;
  border: 0;
}

* {
  box-sizing: border-box;
}

.float_l {
  float: left;
}

.float_r {
  float: right;
}

.align_center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-row-center {
  justify-content: center;
}

.flex-column-center {
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}

.part {
  height: 1041px;
  background-image: url("../../assets/part_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 90px;
  margin-bottom: 87px;
}

.partHeader {
  width: 100%;
  height: 80px;
  font-size: 40px;
  line-height: 80px;
  letter-spacing: 4px;
  padding-left: 71px;
}

.header-bg {
  background-image: url(../../assets/part_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 1041px;
  background-position: 0 0;
}

.main-bg {
  background-image: url(../../assets/part_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 1041px;
  background-position: 0 -80px;
}

.footer-bg {
  width: 100%;
  height: 45px;
  background-image: url(../../assets/part_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 1041px;
  background-position: bottom left;
}

.partHeader-lg {
  width: 100%;
  height: 80px;
  margin-top: 90px;
}

.partHeader-lg .header-bg-1 {
  flex: 1;
  background-image: url(../../assets/part_bg.png);
  background-repeat: no-repeat;
  background-size: 1596 1041px;
  background-position: top left;
}

.partHeader-lg .header-bg-2 {
  flex: 1;
  background-image: url(../../assets/part_bg.png);
  background-repeat: no-repeat;
  background-size: 1096 1041px;
  background-position: top center;
}

.partHeader-lg .header-bg-3 {
  flex: 1;
  background-image: url(../../assets/part_bg.png);
  background-repeat: no-repeat;
  background-size: 1096 1041px;
  background-position: top right;
}

.partMain-lg {
  width: 100%;
  height: 916px;
}

.partMain-lg .main-lg-1 {
  flex: 1;
  height: 100%;
  background-image: url(../../assets/part_bg.png);
  background-repeat: no-repeat;
  background-size: 1096 1041px;
  background-position: 0 -80px;
}

.partMain-lg .main-lg-2 {
  flex: 1;
  height: 100%;
  background-image: url(../../assets/part_bg.png);
  background-repeat: no-repeat;
  background-size: 1096 1041px;
  background-position: right center;
  background-position-y: -80px;
}

.partFooter-lg {
  width: 100%;
  height: 45px;
}

.partFooter-lg .footer-bg-1 {
  flex: 1;
  background-image: url(../../assets/part_bg.png);
  background-repeat: no-repeat;
  background-size: 1096 1041px;
  background-position: bottom left;
}

.partFooter-lg .footer-bg-2 {
  flex: 1;
  background-image: url(../../assets/part_bg.png);
  background-repeat: no-repeat;
  background-size: 1096 1041px;
  background-position: bottom center;
}

.partFooter-lg .footer-bg-3 {
  flex: 1;
  background-image: url(../../assets/part_bg.png);
  background-repeat: no-repeat;
  background-size: 1096 1041px;
  background-position: bottom right;
}

.part880 {
  width: 880px;
}

.part960 {
  width: 960px;
}

.part1096 {
  width: 1096px;
}

.part1114 {
  width: 1114px;
}

.part1954 {
  width: 1954px;
}

.chartHeader {
  position: relative;
  margin-left: 20px;
  padding-left: 15px;
  font-size: 20px;
  color: #fff;
}

.chartHeader::before {
  content: "";
  position: absolute;
  width: calc(100% + 18px);
  height: 20px;
  border-bottom: 1px solid #433520;
  border-left: 1px solid #433520;
  top: 12px;
  left: -20px;
}

.chartHeader::after {
  content: "";
  width: 90px;
  height: 10px;
  background-image: url("../../assets/title_gradient.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 10px;
}

.chartHeader span {
  display: inline-block;
  position: relative;
}

.chartHeader span::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fab754;
  top: calc(50% - 4px);
  left: -20px;
}

.chartHeader span::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: #433520;
  top: calc(50%);
  left: -35px;
  margin: 0;
  padding: 0;
}

.chart {
  width: 100%;
  height: 100%;
}

.inMargin {
  margin: 0 45px;
}

.container {
  width: 12528px;
  height: 1218px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  background-color: #121212;
}

.container .header-container {
  position: absolute;
  width: 2560px;
  height: 118px;
  left: calc(50% - 1280px);
  top: 60px;
  background-image: url("../../assets/title.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 56px;
  line-height: 118px;
  color: #d2ab5d;
  text-align: center;
  letter-spacing: 2px;
}

.container .left {
  width: 4014px;
  height: 100%;
}

.container .left .companyProfile .top {
  width: 780px;
  height: 442px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .left .companyProfile .top .g,
.container .left .companyProfile .top .y {
  height: 203px;
  padding: 0 28px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}

.container .left .companyProfile .top .g li p,
.container .left .companyProfile .top .y li p {
  text-align: center;
  font-size: 40px;
  line-height: 30px;
}

.container .left .companyProfile .top .g li small,
.container .left .companyProfile .top .y li small {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}

.container .left .companyProfile .top .g li img,
.container .left .companyProfile .top .y li img {
  margin: 0 auto;
}

.container .left .companyProfile .top .g {
  background-image: url("../../assets/companyProfile_green.png");
}

.container .left .companyProfile .top .g li {
  width: 191px;
  height: 169px;
  background-image: url("../../assets/companyProfile_green_data.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}

.container .left .companyProfile .top .g li p {
  color: #83f9f8;
}

.container .left .companyProfile .top .y {
  background-image: url("../../assets/companyProfile_yellow.png");
}

.container .left .companyProfile .top .y li {
  width: 191px;
  height: 169px;
  background-image: url("../../assets/companyProfile_yellow_data.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}

.container .left .companyProfile .top .y li p {
  color: #f0c85c;
}

.container .left .companyProfile .bottom {
  padding: 0 50px;
}

.container .left .companyProfile .bottom .a {
  width: 783px;
  height: 372px;
}

.container .left .companyProfile .bottom .a .c {
  flex: 1;
}

.container .left .companyProfile .bottom .a .rate {
  width: 278px;
  background-image: url(../../assets/rise-rate.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  padding-top: 84px;
}

.container .left .companyProfile .bottom .a .rate small {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #9bc5f1;
  font-size: 22px;
  font-weight: bold;
  line-height: 36px;
  -webkit-line-clamp: 2;
  background-image: -webkit-linear-gradient(bottom, #0079d6, #9bc5f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .left .companyProfile .bottom .a .rate p {
  font-size: 38px;
  text-align: center;
  line-height: 56px;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-line-clamp: 2;
  background-image: -webkit-linear-gradient(bottom, #0079d6, #9bc5f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .left .left_2 {
  margin-top: 90px;
  margin-bottom: 87px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .left .left_2 .socialContribution {
  height: 421px;
}

.container .left .left_2 .socialContribution .social {
  height: 296px;
  padding: 45px 35px 0px 35px;
}

.container .left .left_2 .socialContribution .social .social_1 li {
  height: 116px;
  background-image: url(../../assets/left2_data_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
}

.container .left .left_2 .socialContribution .social .social_1 li p {
  padding-top: 10px;
}

.container .left .left_2 .socialContribution .social .social_1 li p big {
  color: #fff;
  font-size: 32px;
}

.container .left .left_2 .socialContribution .social .social_1 li p small {
  color: #fff;
  font-size: 16px;
}

.container .left .left_2 .socialContribution .social .social_1 li span {
  display: inline-block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.container .left .left_2 .greenIndex {
  height: 590px;
}

.container .left .left_2 .greenIndex .green {
  height: 465px;
}

.container .left .left_2 .greenIndex .green .green_1 {
  padding: 35px 35px 40px 35px;
}

.container .left .left_2 .greenIndex .green .green_1 .p header {
  color: rgba(228, 238, 255, 0.8);
  font-size: 20px;
  padding-bottom: 8px;
}

.container .left .left_2 .greenIndex .green .green_1 .p main span {
  display: inline-block;
  width: 41px;
  height: 53px;
  line-height: 53px;
  margin-right: 7px;
  font-size: 38px;
  color: #f0c85c;
  text-indent: 8px;
  background-image: url(../../assets/font_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.container .left .left_2 .greenIndex .green .green_2 {
  height: 302px;
  padding: 0 35px;
}

.container .left .left_2 .greenIndex .green .green_2 .green_line {
  width: 534px;
}

.container .left .left_2 .greenIndex .green .green_2 .green_pie {
  width: 211px;
}

.container .left .technology .tech .tech_1 {
  width: 440px;
  padding: 50px 0 50px 50px;
}

.container .left .technology .tech .tech_1 li {
  height: 71px;
  background-image: url(../../assets/tech_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 19px;
  line-height: 71px;
}

.container .left .technology .tech .tech_1 li .span {
  font-size: 24px;
  color: #f0c85c;
  padding: 0 30px;
  white-space: nowrap;
}

.container .left .technology .tech .tech_1 li .big {
  font-size: 40px;
  font-weight: bold;
  color: #fefefe;
  letter-spacing: 1px;
  padding: 0 5px;
}

.container .left .technology .tech .tech_1 li .small {
  font-size: 24px;
  font-weight: bold;
  color: rgba(254, 254, 254, 0.5);
  letter-spacing: 1px;
  line-height: 78px;
}

.container .left .technology .tech .tech_1 .dashboard {
  height: 180px;
}

.container .left .technology .tech .tech_2 {
  padding-top: 50px;
  padding-right: 50px;
}

.container .left .technology .tech .tech_2 .swiper-container {
  width: 570px;
  margin-bottom: 12px;
  position: relative;
}

.container .left .technology .tech .tech_2 .swiper-container .swiper-slide {
  width: 245px;
  height: 347px;
  text-align: center;
  background-image: url(../../assets/tech_swipper.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .left .technology .tech .tech_2 .swiper-container .swiper-slide .img {
  width: 210px;
  height: 300px;
  overflow: hidden;
}

.container .left .technology .tech .tech_2 .swiper-container .swiper-slide .img img {
  width: 100%;
}

.container .left .technology .tech .tech_2 .swiper-container::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 347px;
  left: 0;
  z-index: 9;
  background: -webkit-gradient(linear, left, right, color-stop(0%, #121212), color-stop(100%, rgba(18, 18, 18, 0)));
  background: -webkit-linear-gradient(left, #121212 0%, rgba(18, 18, 18, 0) 100%);
  background: linear-gradient(to right, #121212 0%, rgba(18, 18, 18, 0) 100%);
}

.container .left .technology .tech .tech_2 .swiper-container::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 347px;
  right: 0;
  top: 0;
  z-index: 9;
  background: -webkit-gradient(linear, right, left, color-stop(0%, #121212), color-stop(100%, rgba(18, 18, 18, 0)));
  background: -webkit-linear-gradient(right, #121212 0%, rgba(18, 18, 18, 0) 100%);
  background: linear-gradient(to left, #121212 0%, rgba(18, 18, 18, 0) 100%);
}

.container .left .technology .tech .tech_2 .timeline {
  margin: 0 auto;
  width: 560px;
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/timeline_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container .left .technology .tech .tech_2 .timeline .content {
  margin-top: 10px;
  margin-left: 6px;
  width: 268px;
  height: 268px;
  border-radius: 50%;
  background: linear-gradient(to top, rgba(6, 138, 230, 0.6) 0%, rgba(3, 145, 255, 0.05) 100%);
  position: relative;
  overflow: hidden;
}

.container .left .technology .tech .tech_2 .timeline .content::before {
  content: "";
  float: left;
  width: 134px;
  height: 268px;
  background: transparent;
  -webkit-clip-path: polygon(99% 0%, 92% 0%, 86% 0%, 80% 0%, 73% 1%, 67% 2%, 60% 3%, 54% 4%, 48% 6%, 44% 8%, 38% 10%, 32% 12%, 28% 14%, 23% 17%, 19% 20%, 16% 23%, 11% 26%, 8% 29%, 5% 33%, 2% 39%, 0% 46%, 0% 55%, 3% 61%, 7% 68%, 12% 73%, 18% 78%, 24% 82%, 30% 85%, 39% 88%, 46% 91%, 52% 93%, 59% 94%, 68% 96%, 75% 97%, 81% 98%, 87% 99%, 94% 99%, 99% 99%, 0 100%, 0 0, 100% 0);
  clip-path: polygon(99% 0%, 92% 0%, 86% 0%, 80% 0%, 73% 1%, 67% 2%, 60% 3%, 54% 4%, 48% 6%, 44% 8%, 38% 10%, 32% 12%, 28% 14%, 23% 17%, 19% 20%, 16% 23%, 11% 26%, 8% 29%, 5% 33%, 2% 39%, 0% 46%, 0% 55%, 3% 61%, 7% 68%, 12% 73%, 18% 78%, 24% 82%, 30% 85%, 39% 88%, 46% 91%, 52% 93%, 59% 94%, 68% 96%, 75% 97%, 81% 98%, 87% 99%, 94% 99%, 99% 99%, 0 100%, 0 0, 100% 0);
  shape-outside: polygon(99% 0%, 92% 0%, 86% 0%, 80% 0%, 73% 1%, 67% 2%, 60% 3%, 54% 4%, 48% 6%, 44% 8%, 38% 10%, 32% 12%, 28% 14%, 23% 17%, 19% 20%, 16% 23%, 11% 26%, 8% 29%, 5% 33%, 2% 39%, 0% 46%, 0% 55%, 3% 61%, 7% 68%, 12% 73%, 18% 78%, 24% 82%, 30% 85%, 39% 88%, 46% 91%, 52% 93%, 59% 94%, 68% 96%, 75% 97%, 81% 98%, 87% 99%, 94% 99%, 99% 99%, 0 100%, 0 0, 100% 0);
}

.container .left .technology .tech .tech_2 .timeline .content .fr {
  content: "";
  float: right;
  width: 134px;
  height: 268px;
  background: transparent;
  clip-path: polygon(0% 0%, 3% 0%, 8% 0%, 12% 0%, 16% 0%, 20% 1%, 26% 1%, 32% 2%, 36% 3%, 41% 4%, 45% 5%, 50% 7%, 54% 8%, 59% 10%, 63% 11%, 68% 13%, 73% 16%, 77% 18%, 81% 21%, 85% 24%, 88% 27%, 92% 31%, 95% 35%, 96% 39%, 98% 43%, 99% 48%, 99% 52%, 98% 57%, 96% 62%, 93% 66%, 90% 70%, 86% 74%, 80% 79%, 73% 83%, 67% 86%, 60% 89%, 53% 91%, 44% 94%, 35% 96%, 29% 97%, 22% 98%, 16% 99%, 8% 99%, 2% 99%, 0% 98%, 0% 98%, 0% 98%, 0% 98%, 0% 100%, 100% 100%, 100% 0, 0 0);
  -webkit-clip-path: polygon(0% 0%, 3% 0%, 8% 0%, 12% 0%, 16% 0%, 20% 1%, 26% 1%, 32% 2%, 36% 3%, 41% 4%, 45% 5%, 50% 7%, 54% 8%, 59% 10%, 63% 11%, 68% 13%, 73% 16%, 77% 18%, 81% 21%, 85% 24%, 88% 27%, 92% 31%, 95% 35%, 96% 39%, 98% 43%, 99% 48%, 99% 52%, 98% 57%, 96% 62%, 93% 66%, 90% 70%, 86% 74%, 80% 79%, 73% 83%, 67% 86%, 60% 89%, 53% 91%, 44% 94%, 35% 96%, 29% 97%, 22% 98%, 16% 99%, 8% 99%, 2% 99%, 0% 98%, 0% 98%, 0% 98%, 0% 98%, 0% 100%, 100% 100%, 100% 0, 0 0);
  shape-outside: polygon(0% 0%, 3% 0%, 8% 0%, 12% 0%, 16% 0%, 20% 1%, 26% 1%, 32% 2%, 36% 3%, 41% 4%, 45% 5%, 50% 7%, 54% 8%, 59% 10%, 63% 11%, 68% 13%, 73% 16%, 77% 18%, 81% 21%, 85% 24%, 88% 27%, 92% 31%, 95% 35%, 96% 39%, 98% 43%, 99% 48%, 99% 52%, 98% 57%, 96% 62%, 93% 66%, 90% 70%, 86% 74%, 80% 79%, 73% 83%, 67% 86%, 60% 89%, 53% 91%, 44% 94%, 35% 96%, 29% 97%, 22% 98%, 16% 99%, 8% 99%, 2% 99%, 0% 98%, 0% 98%, 0% 98%, 0% 98%, 0% 100%, 100% 100%, 100% 0, 0 0);
}

.container .left .technology .tech .tech_2 .timeline .content .title {
  height: 50%;
  padding: 60px;
  text-align: center;
  font-size: 33px;
}

.container .left .technology .tech .tech_2 .timeline .content .desc {
  height: 50%;
  text-align: center;
  line-height: 1.7em;
  font-size: 13px;
}

.container .left .technology .tech .tech_2 .timeline #sum {
  width: 300px;
  height: 300px;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .left .technology .tech .tech_2 .timeline #sum li {
  text-align: center;
  list-style-type: none;
}

.container .left .technology .tech .tech_2 .timeline #sum #second {
  position: absolute;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.container .left .technology .tech .tech_2 .timeline #sum #second ul {
  position: relative;
  left: -40px;
  top: -5px;
}

.container .left .technology .tech .tech_2 .timeline #sum #second ul li {
  position: absolute;
  width: 80px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

.container .left .technology .tech .tech_2 .timeline #sum #second ul .active span {
  padding: 5px 10px;
  background-image: url(../../assets/time_bg.png);
  background-size: 100% 100%;
  font-size: 14px;
  transition: all 1s;
}

.container .left .technology .tech .tech_2 .timeline #sum #minute {
  position: absolute;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.container .left .technology .tech .tech_2 .timeline #sum #minute .timelineTick::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #0483e1;
  position: absolute;
  top: 9px;
  left: 35px;
}

.container .left .technology .tech .tech_2 .timeline #sum #minute .timelineTickActive::after {
  content: "";
  width: 15px;
  height: 4px;
  background-color: #0e4c68;
  position: absolute;
  top: 8px;
  left: 30px;
}

.container .left .technology .tech .tech_2 .timeline #sum #minute ul {
  position: relative;
  left: -38px;
  top: -5px;
}

.container .left .technology .tech .tech_2 .timeline #sum #minute ul li {
  position: absolute;
  width: 80px;
  height: 20px;
}

.container .left .technology .tech .tech_2 .timeline #sum #minute ul li:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  top: calc(50% - 5px);
  left: 33px;
  border: 2px solid #0091f6;
  z-index: 99;
}

.container .left .technology .tech .tech_2 .timeline #sum #minute::before {
  content: "";
  position: absolute;
  width: 332px;
  height: 332px;
  border-radius: 50%;
  top: -12px;
  left: -15px;
  border: 1px solid #192c2f;
}

.container .left .technology .tech .tech_2 .timeline #sum #minute::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  top: 4px;
  left: 2px;
  border: 1px solid #192c2f;
}

.container .left .research .re {
  padding: 50px 35px 0 35px;
  height: calc(100% - 85px);
}

.container .left .research .re .re_1 {
  height: 295px;
}

.container .left .research .re .re_1 .l {
  flex: 1;
}

.container .left .research .re .re_1 .l li {
  width: 350px;
  height: 85px;
  background: linear-gradient(to right, rgba(211, 172, 95, 0.4) 0%, rgba(54, 43, 18, 0.4) 100%);
  position: relative;
  border: 1px solid #eed986;
  padding: 0 20px;
}

.container .left .research .re .re_1 .l li::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #9b7121;
}

.container .left .research .re .re_1 .l li img {
  display: inline-block;
  width: 45px;
  height: 45px;
}

.container .left .research .re .re_1 .l li span {
  display: inline-block;
  width: 190px;
  font-size: 18px;
}

.container .left .research .re .re_1 .l li p {
  width: 40px;
  font-size: 26px;
}

.container .left .research .re .re_1 .r {
  flex: 1;
}

.container .left .research .re .re_2 {
  height: 295px;
}

.container .left .research .re .re_2 .c {
  width: 390px;
}

.container .left .research .re .re_3 {
  height: 245px;
}

.container .left .research .re .re_3 .university {
  margin-top: 20px;
}

.container .left .research .re .re_3 .university li {
  width: 142px;
  height: 210px;
  background-image: url(../../assets/university_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
}

.container .left .research .re .re_3 .university li .u_logo {
  width: 62px;
  height: 62px;
  margin: 0 auto;
  margin-top: 18px;
}

.container .left .research .re .re_3 .university li .u_logo img {
  width: 100%;
}

.container .left .research .re .re_3 .university li p {
  height: 140px;
  font-size: 14px;
}

.container .center {
  width: 4500px;
  height: 100%;
  padding: 0 70px;
}

.container .center .overview {
  height: 185px;
}

.container .center .customer .overview {
  padding-top: 60px;
  padding-bottom: 35px;
}

.container .center .customer .overview li {
  width: 178px;
}

.container .center .customer .overview li span {
  font-size: 20px;
  width: 100%;
  color: #eff0f1;
  padding-left: 22px;
  display: inline-block;
  position: relative;
}

.container .center .customer .overview li span::before {
  content: "";
  width: 12px;
  height: 16px;
  top: calc(50% - 8px);
  left: 0;
  background-color: #e5b36c;
  position: absolute;
}

.container .center .customer .overview li div {
  height: 57px;
  margin-top: 10px;
  text-align: center;
  line-height: 50px;
  background-image: url("../../assets/data_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 36px;
  color: #f0c85c;
}

.container .center .customer .c_chart {
  height: 780px;
  padding-top: 40px;
  flex-wrap: wrap;
}

.container .center .customer .c_chart .c_chart_li {
  width: 480px;
  height: 310px;
}

.container .center .map {
  width: 2002px;
  position: relative;
}

.container .center .map .mapChart {
  margin-top: 200px;
  height: calc(100% - 200px);
}

.container .center .map .legend1 {
  position: absolute;
  width: 168px;
  height: 428px;
  left: 0;
  bottom: 90px;
  flex-direction: column;
}

.container .center .map .legend1 img {
  width: 100%;
}

.container .center .map .legend2 {
  position: absolute;
  width: 264px;
  height: 40px;
  left: calc(50% - 132px);
  bottom: 90px;
}

.container .center .map .legend2 div {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}

.container .center .map .legend2 div img {
  display: inline-block;
  margin-right: 10px;
}

.container .center .map .radar {
  position: absolute;
  width: 360px;
  height: 360px;
  bottom: 90px;
  left: 240px;
}

.container .center .sales .overview {
  padding-top: 25px;
}

.container .center .sales .overview li {
  flex: 1;
  height: 160px;
}

.container .center .sales .overview li .m {
  width: 148px;
  height: 120px;
  font-size: 38px;
  line-height: 120px;
  margin: 0 auto;
  text-align: center;
  background-image: url("../../assets/sales-box.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.container .center .sales .overview li p {
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
}

.container .center .sales .s1 {
  height: 200px;
  margin-top: 40px;
}

.container .center .sales .s1 .s1_chart {
  width: 490px;
}

.container .center .sales .s2 {
  height: 462px;
  margin-top: 40px;
}

.container .center .sales .s2 .s2_chart {
  width: 490px;
}

.container .center .sales .s2 .s2_chart .c {
  width: 100%;
  height: 50%;
}

.container .right {
  width: 4014px;
  height: 100%;
}

.container .right .customerService .service {
  height: 960px;
  padding: 20px 35px;
}

.container .right .customerService .service .service_1 {
  height: 260px;
}

.container .right .customerService .service .service_1 li {
  width: 150px;
  height: 150px;
}

.container .right .customerService .service .service_2 {
  height: 312px;
}

.container .right .customerService .service .service_2 li {
  width: 366px;
}

.container .right .customerService .service .service_3 {
  height: 323px;
}

.container .right .customerService .service .service_3 .f {
  width: 270px;
}

.container .right .customerService .service .service_3 .f .m {
  width: 230px;
  height: 155px;
  margin: 0 auto;
  background-image: url(../../assets/customerService.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: center;
}

.container .right .customerService .service .service_3 .f .m span {
  display: inline-block;
  padding-top: 10px;
  color: #9bc5f1;
  font-size: 75px;
  -webkit-line-clamp: 2;
  background-image: -webkit-linear-gradient(bottom, #0079d6, #9bc5f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .right .customerService .service .service_3 .s {
  width: 538px;
  height: 300px;
}

.container .right .right_2 {
  margin-top: 90px;
  margin-bottom: 87px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .right .right_2 .staff {
  height: 620px;
}

.container .right .right_2 .staff .sta {
  height: 495px;
  padding: 35px 35px 0 35px;
  flex-wrap: wrap;
  align-items: flex-end;
}

.container .right .right_2 .staff .sta li {
  width: 422px;
  height: 213px;
}

.container .right .right_2 .inspector {
  height: 380px;
}

.container .right .right_2 .inspector .inspect {
  height: 255px;
  padding: 35px 35px 0 35px;
}

.container .right .right_2 .inspector .inspect li {
  width: 421px;
  height: 255px;
}

.container .right .operate .oper .operate_l {
  padding: 35px 35px 0 35px;
}

.container .right .operate .oper .operate_l .energy_count {
  height: 166px;
}

.container .right .operate .oper .operate_l .energy_count ul {
  height: 100%;
}

.container .right .operate .oper .operate_l .energy_count ul li {
  height: 105px;
}

.container .right .operate .oper .operate_l .energy_count ul li img {
  height: 105px;
  margin-right: 10px;
}

.container .right .operate .oper .operate_l .energy_count ul li strong {
  display: table-row;
  height: 50%;
  font-size: 34px;
  line-height: 55px;
  color: #f0c85c;
}

.container .right .operate .oper .operate_l .energy_count ul li small {
  display: table-row;
  height: 50%;
  font-size: 18px;
  line-height: 50px;
  color: 'rgba(255,255,255,0.7)';
}

.container .right .operate .oper .operate_l .energy_chart {
  height: 200px;
}

.container .right .operate .oper .operate_r {
  padding: 35px 35px 0 35px;
}

.container .right .operate .oper .operate_r .operate_r_chart {
  height: 263px;
}
