@font-face {
  font-family: "iconfont"; /* Project id 3046212 */
  src: url('iconfont.woff2?t=1645517088085') format('woff2'),
       url('iconfont.woff?t=1645517088085') format('woff'),
       url('iconfont.ttf?t=1645517088085') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang-kuaijin:before {
  content: "\e6d8";
}

.icon-qm:before {
  content: "\e646";
}

.icon-ai207:before {
  content: "\e6c3";
}

.icon-caozuo:before {
  content: "\e6d7";
}

.icon-hebing:before {
  content: "\e60e";
}

.icon-chaizu:before {
  content: "\e691";
}

.icon-xuanzhuan:before {
  content: "\e676";
}

.icon-Dxuanzhuan:before {
  content: "\e64c";
}

.icon-dishangdixia:before {
  content: "\e606";
}

.icon-shubiao:before {
  content: "\f04b";
}

.icon-mouseR:before {
  content: "\e6bd";
}

.icon-mouseL:before {
  content: "\e6be";
}

.icon-icon_qingtian:before {
  content: "\e608";
}

.icon-icon_yejianqingtian:before {
  content: "\e609";
}

.icon-icon_duoyun:before {
  content: "\e60b";
}

.icon-icon_yejianduoyun:before {
  content: "\e60c";
}

.icon-icon_zhenyu:before {
  content: "\e60d";
}

.icon-icon_leizhenyu:before {
  content: "\e612";
}

.icon-icon_xiaoxue:before {
  content: "\e614";
}

